@model IEnumerable<ASPNETCoreMVC.Models.Department>
<div id="departmentTable"></div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDepartments")",
            success: function (departmentsList) {
                loadData(departmentsList);
            },
            error: function (errorResponse) {
                alert(errorResponse);
            }
        });
    });

    function loadData(departments) {
        var $table = $('<table/>').addClass('table table-bordered table-striped');
        var $thead = $('<thead/>');
        $thead.append('<th>Dept#</th><th>Dept name</th><th>Location</th><th></th>');
        $table.append($thead);
        $.each(departments, function (index, dept) {
            var $tableRow = $('<tr></tr>');
            $tableRow.append('<td>' + dept.id + '</td>');
            $tableRow.append('<td>' + dept.deptName + '</td>');
            $tableRow.append('<td>' + dept.loc + '</td>');
            $tableRow.append('<td><a href="#" class="btn btn-success" onclick="showDepartmentDetails(' + dept.id + ')">Details</a></td>');
            $table.append($tableRow);
        });
        $('#departmentTable').html($table);
        return false;
    }

    showDepartmentDetails = function (id) {
        alert(id);
        return false;
    }
</script>
