<div class="container-fluid">
    <input type="text" id="txtName" />
    <button type="button" id="btnGet">Get Current Time</button>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $("#btnGet").click(function () {
            $.ajax({
                type: "POST",
                url: "/home/AjaxMethod",
                data: { "name": $("#txtName").val() },
                success: function (response) {
                    alert("Hello " + response.name +
                        ", current date and time: " +
                        response.dateTime);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText)
                }
            });
        });
    });
</script>
